/* .swiper-slide {
  border-radius: 8px !important;
  height: 900px !important;
} */

/* .custom-select .ant-select-selector {
  border: 2px solid rgb(253 186 116) !important;
  padding: 19px !important;
  top: -5px !important;
} */
